*,*::before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.html,body{
  height: 100%;
  font-family: 'Bebas Neue', cursive;
  background: #000;
}

.wrapper{
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container{
  max-width: 1250px;
  margin: 10px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b7;
}

.header__body {
  position: relative;
  justify-content: space-between;
  height: 110px;
  align-items: center;
}

@media (max-width:1440px){
  .container{
    max-width: 1100px;
  }
  .logo_patch{
    max-width: none;
  }
  .socialblock{
    max-width: none;
  }
  .menu nav h2{
    font-size: 5em;
  }
  .menu nav p{
    font-size: 3em;
  }
}
@media (max-width:1291px){
  .container{
    max-width: 1000px;
  }
  .logo_patch{
    max-width: none;
  }
  .socialblock{
    max-width: none;
  }
  .menu nav h2{
    font-size: 5em;
  }
  .menu nav p{
    font-size: 3em;
  }
}
@media (max-width:1190px){
  .container{
    max-width: 900px;
  }
  .logo_patch{
    max-width: none;
  }
  .socialblock{
    max-width: none;
  }
  .menu nav h2{
    font-size: 4em;
  }
  .menu nav p{
    font-size: 2em;
  }
}
@media (max-width:1110px){
  .container{
    max-width: 800px;
  }
  .logo_patch{
    max-width: none;
  }
  .socialblock{
    max-width: none;
  }
}
@media (max-width:1014px){
  .container{
    max-width: 700px;
  }
  .logo_patch{
    max-width: none;
  }
  .socialblock{
    max-width: none;
  }
}
@media (max-width:933px){
  .container{
    max-width: 600px;
  }
  .logo_patch{
    max-width: none;
  }
  .socialblock{
    max-width: none;
  }
  .menu nav h2{
    font-size: 3em;
  }
  .menu nav p{
    font-size: 2em;
  }
}
@media (max-width:848px){
  .container{
    max-width: 510px;
  }
  .logo_patch{
    max-width: none;
  }
  .socialblock{
    max-width: none;
  }
  .menu nav h2{
    font-size: 3em;
  }
  .menu nav p{
    font-size: 1.8em;
  }
}
@media (max-width:767px){
  .container{
    max-width: 500px;
  }
  .logo_patch{
    max-width: none;
  }
  .socialblock{
    max-width: none;
  }
  .menu nav h2{
    font-size: 3em;
  }
  .menu nav p{
    font-size: 1.6em;
  }
}
@media (max-width:755px){
  .container{
    max-width: 400px;
  }
  .videocontainer{
    margin: 0px 0px;
  }
}
@media (max-width:680px){
  .container{
    max-width: 320px;
  }
  .menu nav h2{
    font-size: 2.5em;
  }
  .menu nav p{
    font-size: 1.3em;
  }
}
@media (max-width:599px){
  .container{
    max-width: 270px;
  }
  .videocontainer{
    margin: 0px 0px;
    margin-top: auto;
  }
  .socialblock{
    max-width: none;
    top: 100px;
  }
}
@media (max-width:543px){
  .container{
    max-width: 240px;
  }
  .logo_patch{
    font-size: 25px;
    width: 610px;
  }
  .socialblock{
    font-size: 13px;
    width: 600px;
    height: 50px;
    margin: -5px;
    display: none;
    transition: none;
  }
  .copyright{
    font-size: 25px;
    width: 590px;
    height: 0px;
  }
  .menu nav h2{
    font-size: 2.2em;
  }
  .menu nav p{
    font-size: 1.2em;
  }
}
@media (max-width:458px){
  .container{
    max-width: 210px;
  }
  .logo_patch{
    font-size: 25px;
    width: 610px;
  }
  .socialblock{
    font-size: 13px;
    width: 600px;
    height: 50px;
    margin: -5px;
    display: none;
    transition: none;
  }
  .copyright{
    font-size: 25px;
    width: 590px;
    height: 0px;
  }
}
@media (max-width:436px){
  .container{
    max-width: 190px;
  }
  .logo_patch{
    font-size: 25px;
    width: 590px;
  }
  .socialblock{
    font-size: 15px;
    width: 590px;
    height: 50px;
    margin: -5px;
    display: none;
    transition: none;
  }
  .copyright{
    font-size: 25px;
    width: 590px;
    height: 0px;
  }
}
@media (max-width:378px){
  .container{
    max-width: 170px;
  }
  .logo_patch{
    font-size: 25px;
    width: 550px;
  }
  .socialblock{
    font-size: 15px;
    width: 560px;
    height: 50px;
    margin: -5px;
    display: none;
    transition: none;
  }
  .copyright{
    font-size: 25px;
    width: 550px;
    height: 0px;
  }
}


.logo-center {
  text-align: center;
  margin: -5px;
}

h1 {
  text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
}
.menu h2 {
  font-size: 5em;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(255, 255, 255);
}
.menu p
{
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}
.burger {
    display: flex;
    justify-content: flex-end;
  }
  .menu-btn {
    width: 35px;
    height: 30px;
    margin: 30px 114px;
    position: absolute;
    top:7%;
    left:93%;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
  }
  .menu-btn span {
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 3px;
    transition-duration: 500ms
  }
  .menu-btn span:nth-of-type(1) {
    top:0px;
    left: 0px;
  }
  .menu-btn span:nth-of-type(2) {
    top:13px;
    left: 0px;
    opacity:1;
  }
  .menu-btn span:nth-of-type(3) {
    bottom:0px;
    left: 0px;
  }

  .menu-btn:not(.active):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .menu-btn:not(.active):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .menu-btn:not(.active):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  
  .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px;
      overflow: auto;
      background-color: rgba(43, 43, 43, 0.671);
      transform: translateX(-100%);
      transition: transform 0.5s; 
  }
  
  .menu.active {
    transform: translateX(0);
  }
  
  .menu li {
      list-style-type: none;
  }
  
  .menu-btn.active span:first-of-type {
    transform: rotate(45deg);
    top: 13px;
  }
  
  .menu-btn.active span:nth-of-type(2) {
    opacity:0;
  }
  
  .menu-btn.active span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 13px;
  }

  .videocontainer {
    text-align: center;
    padding: 130px 0px 0px 0px;
  }

  .logo_patch {
    text-align: center;
    object-fit: cover;
  }

  .socialblock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    background: var(--bg);
  }
  ul
{
    position: relative;
    display: flex;
    gap: 5px;
}
ul li
{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
ul li:hover
{
    z-index: 10000;
    transform: scale(0.75);
}
ul li::before
{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.5s;
}
ul li:hover:before
{
    inset: 0px;
}
ul li::after
{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
}
ul li a
{
    position: relative;
    text-decoration: none;
    color: var(--clr);
    z-index: 10;
    font-size: 2em;
    transition: 0.5s;
}
ul li:hover a
{
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}
