*,*::before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h2{
  color: aliceblue;
}
.html,body{
  height: 100%;
  font-family: 'Bebas Neue', cursive;
  background: #000;
}
.flex-div
{
  display: flex;
  align-items: center;
}
nav
{
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-left{
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0)
}
.nav-left .logo
{
  width: 100px;
  cursor: pointer;
}
.header__burger {
  display: block;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 1;
}
.header__list li{
  list-style: none;
  margin: 0px 0px 0px 20px;
}
.header__link {
  color: rgb(225, 225, 225);
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
}
.header__link:hover
{
  color: #002b76;
}
.main__content
{
  text-align: center;
  margin-bottom: 50px;
}
.main__conteiner
{
  margin: 0 auto;
  max-width: 970px;
  text-align: center;
}
.main__menu
{
  margin-top: 20px;
}
.main__menu iframe
{
  width: 560px;
  height: 315px;
}
.main__content hr
{
  width: 235px;
  border: 14px;
  margin-top: 28px;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
#grid
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
}
.grid-item {
  border: solid #000;
  width: 100%;
}
h2
{
  font-size: 3ex;
  margin-top: 0px;
  margin-bottom: 0px;
}
.items__links a
{
  margin-top: 0px;
  display: block;
  text-decoration: none;
  font-size: 30px;
  color: rgb(14, 14, 14);
}
#Homes
{
  width: 40vw;
}
.socialblock {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  background: var(--bg);
  font-size: 1vw;
}
ul
{
  position: relative;
  display: flex;
  gap: 0px;
}
ul li
{
  position: relative;
  list-style: none;
  width: 7vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
ul li:hover
{
  z-index: 10000;
  transform: scale(0.75);
}
ul li::before
{
  content: '';
  position: absolute;
  inset: 30px;
  box-shadow: 0 0 0 10px var(--clr),
  0 0 0 20px var(--bg),
  0 0 0 22px var(--clr);
  transition: 0.5s;
}
ul li:hover:before
{
  inset: 0px;
}
ul li::after
{
  content: '';
  position: absolute;
  inset: 0;
  background: var(--bg);
  transform: rotate(45deg);
}
ul li a
{
  position: relative;
  text-decoration: none;
  color: var(--clr);
  z-index: 10;
  font-size: 2em;
  transition: 0.5s;
}
ul li:hover a
{
  font-size: 3em;
  filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}
#Contact
{
  transition: .4s;
}
#textvalid{
  display: block;
  color: #999;
  font-weight: 500;
  padding: 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75em;
}






@media (max-width:767px){
  .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
  }
  .header__burger span{
      position: absolute;
      background-color: rgb(255, 255, 255);
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after{
      content: '';
      background-color: rgb(255, 255, 255);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
  }
  .header__burger:before{
      top: 0;
  }
  .header__burger:after{
      bottom: 0;
  }

  .header__burger.active span{
      transform: scale(0);
  }

  .header__burger.active:before{
      transform:rotate(45deg);
      top: 9px;
  }
  .header__burger.active:after{
      transform:rotate(-45deg);
      bottom: 9px;
  }
  .header__menu{
      position: absolute;
      top: -500%;
      left: 0;
      width: 100%;
      height: 150%;
      overflow: auto;
      transition: all 0.3s ease 0s;
      background-color: rgba(34, 34, 34, 0.808);
      padding: 25px 38px 65px 26px;
      z-index: 1;
  }
  .header__menu.active{
      top: 0;
  }

  .header__list {
      display: block;
  }
  .header__list li{
      margin: 0px 0px 20px 0px;
  }
  .header__link {
      font-size: 24px;
  }
  .nav-left .logo{
      width: 14vw;
  }
  .main__menu iframe
  {
      width: 260px;
      height: 205px;
  }
  .socialblock
  {
      font-size: 3vw;
  }
  .socialblock ul
  {
      gap: 16px;
  }
}
